{% extends '_base.html' %}

{% block pagetitle %}
    Books List
{% endblock pagetitle %}

{% block content %}
    <div class="container mt-4">
        <div class="row"> {#  flex-row-reverse justify-content-md-center #}
            {% for book in book_list %}
                <div class="card m-2" style="max-width: 45%">
                    <div class="row g-0 h-100" dir="rtl">
                        <div class="col-md-4">
                            <img src="https://newcdn.fidibo.com/images/books/69249_94233_normal.jpg"
                                 class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8 h-100">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="card-body">

                                    <div class="card shadow-sm my-3">
                                        <div class="card-body">
                                            <a href="{{ book.get_absolute_url }}" class="btn btn-sm"><h5 class="card-title">{{ book.title }}</h5></a>
                                            <h6 class="card-subtitle mb-2 text-muted small py-2">{{ book.author }}</h6>
                                            <p class="card-text py-3">
                                                {{ book.description | truncatewords:30 }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}